@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
.wrapper{
    background-color: #8fc4b7;
}
.acc-img{
    height: 100vh !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.h-100{

}

.invoice-name{
    color: #7e8d9f;
    font-size: 20px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}