@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}

.wrapper{
    background-color: #8fc4b7;
}

.acc-img{
    height: 100vh !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.invoice-name{
    color: #7e8d9f;
    font-size: 20px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    /*height: 100%;*/
}

#index {
    background-image: url("img/jungle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    background-color: #8fc4b7;

}

.jumbotron h1{
    font-weight: bold;
}

.p1{
    color: black;

    font-family: "Franklin Gothic Book";
    font-size: 200%;
    font-weight: 900;
}

.p2{
    color: black;

    font-family: "Franklin Gothic Book";
    font-size: 200%;
    font-weight: 900;
}
/*#index {background-color: red;}*/
#about {
    background-image: url("img/pic10.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lead{
    align-content: center;
    padding-top: 40px;
}

#contact {
    background-image: url("img/pic2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#operation {
    background-image: url("img/pic3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#operation a{
    text-decoration: none;
}

#operation p{
    color: black;
}

#cars{
    background-image: url("img/vans.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dropdown {
    position: relative;
    left: -150px;
}
/*#dropdownMenuButton {*/
/*    position: absolute;*/
/*    background-color: #555;*/
/*    width: 100%;*/
/*    left: -120px;*/
/*    top: 100%;*/
/*    z-index: 1;*/
/*}*/